<div class="row">
    <div class="col-md-6">
        <div class="chat-box">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let chatMessage of chatMessages">
                    {{ chatMessage.message }}
                    <div class="pull-right"><strong>{{ chatMessage.userName }}</strong></div>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Send message!" #message>
                <div class="input-group-btn">
                    <button class="btn btn-primary" (click)="onSendMessage(message.value)">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>